.about-somos{
    width: 90%;
    margin: auto;

}
.about-text{
    width: 35%;
    padding: 0 2vw;
    text-align: center;
    font-size: clamp(1.3em, 2vw, 9999vw) !important; 
   
}
.about-img{
    width: 65%;
}
.about-somos img{
    width: 100%;
}
.about-somos{
    display: flex;
    justify-content: space-between;

}

.mision-vision{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}
.mision, .vision{
    display: inline-block;
    width: 40%;
    padding: 0 10%;
    text-align: center;
    color: white;
    font-size: clamp(1em, 1.3vw, 9999vw) ;
}
.clientes-aliados{
    padding: 3vw 0;
}
.clientes{
    background-color: blue;
    color: white;
    font-weight: 900;
    width: fit-content;
    padding: 1vw 3vw 1vw 2vw;
    border-radius: 0 50px 50px 0;
}
.aliados{
    
    background-color: blue;
    color: white;
    font-weight: 900;
    width: fit-content;
    padding: 1vw 3vw 1vw 2vw;
    border-radius:50px 0 0 50px;
}
.text-aliados{
    display: flex;
    justify-content: flex-end;
}
.about-frase{
    width: 90%;
    margin: auto;
    font-size: clamp(1.3em, 2vw, 9999vw) ;
    font-weight: bold;
    text-align: center;
}