body{
    padding: 0;
    margin: 0;
    
}
.menu-tabla{
    width: 100%;
    background: linear-gradient(to right, rgb(250, 47, 47) 0%, rgb(55, 148, 255) 100%);
}

td{
    width: 20%;
    border-right: 2px solid white;
    text-align: center;
    color: white;
    font-weight: bold;
}
td:nth-child(5){
    border-right: 2px solid rgba(55, 148, 255, 0.219);
}
.primera-imagen{
    width: 100%;
    background-image: url("../imagenes/IMG_20220821_143901.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}
.imagen-inicio{
    padding-right: 5%;
    color: white;
    padding-top: 15%;
    padding-bottom: 10%;
    text-align: center;
    font-weight: bold;
}
.segundo{
    background: linear-gradient(to right, rgba(253, 48, 48, 0.219) 0%, rgba(55, 148, 255, 0.219) 100%);
}
.imagen-inicio h2{
    font-size: clamp(1em, 2.2vw, 9999vw);    
}
.imagen-inicio h3{
    font-size: clamp(1em, 1.3vw, 9999vw);    
    
}
.imagen-inicio button{
    color: white;
    font-weight: bold;
    background-color: blue;
    border-radius: 20px;
}
.circulo img{
    border-radius: 50%;
    height: 15vw;
    width: 15vw;
}
.terceros{
    color: blue;
    font-weight: bold;
}
.terceros button{
    color: white;
    font-weight: bold;
    background-color: rgb(2, 2, 119);
    border-radius: 20px;
}
hr{
    background-color: blue;
    border: 5px solid blue;
}
.tarifas{
    text-align: center;
    background-color: blue;
    color: white;
}
.tarifas h1{
    width: 100%;
    background-color: white;
    font-weight: 900;
    color: blue;
    padding: 1vw;
}
.tarifas .col-md-4 h3{
    background-color:white;
    color: blue;
    width: fit-content;
    padding:5px 10px 5px 10px;
    border-radius: 10px;
    font-weight: 900;
}
.pie-pagina{
    margin-top: 3vw;
    background: linear-gradient(to right, rgb(248, 7, 7) 0%, rgb(12, 121, 245) 100%);
    color: white;
    padding: 2vw 0;
    font-size: clamp(1em, 1.5vw, 9999vw);    
    font-weight: 700;
}
.pie-1{
    padding-left: 10vw;
    
}

/*style para about*/

.about-somos{
    display: flex;
    padding: 1% 3%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.about-equipo img{
    border-radius: 50px 0 0 50px;
    width: 100%;
}
.mision-vision{
    margin-top: 2vw;
    background-color: blue;
    padding: 2vw 0vw;
    color: white;
}
.mision, .vision{
    text-align: center;
    padding: 0vw 6vw;
    font-weight: bold;
}
.clientes-aliados{
    padding: 3vw 0;
}
.clientes{
    background-color: blue;
    color: white;
    font-weight: 900;
    width: fit-content;
    padding: 1vw 3vw 1vw 2vw;
    border-radius: 0 50px 50px 0;
}
.aliados{
    position: absolute;
    right: 0;
    background-color: blue;
    color: white;
    font-weight: 900;
    width: fit-content;
    padding: 1vw 3vw 1vw 2vw;
    border-radius:50px 0 0 50px;
}
.carousel {
    display: flex;
    overflow-x: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    flex: 0 0 33.333333%;
    display: flex;
    justify-content: space-between;
  }
  
  .carousel-item img {
    width: 50%;
    height: auto;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
  }
  
  .carousel-control-prev {
    left: 1rem;
  }
  
  .carousel-control-next {
    right: 1rem;
  }