/* styles.css */

.carousel-container {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    border-left: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(41, 41, 41, 0.452); 
}

.carousel-inner {
    display: flex;
    width: calc(100% * 13 /13); /* (Número de items / Items visibles) */
    animation: slide 15s linear infinite;
}

.carousel-item {
    flex: 1 0 33.33%; /* Tres logos visibles a la vez */
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-333.3%); } /* Ajuste según la cantidad de elementos visibles */
}
